<link rel="stylesheet" href="https://github.com/bootstrap-4-github-buttons/bootstrap-github-btns/blob/master/dist/github-btns.css" asp-append-version="true">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />

@{
    ViewData["Title"] = "About Me";
}
<script>
    function BackToMain() {
        window.location.href = '@Url.Action("Index","Home")';
    }
    function DownloadResume() {
       var link = document.createElement('a');
        link.href = '~/resume/Jesus Diaz - Resume.pdf';
        link.download = 'download.pdf';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>
<div class="form-container text-center">
    <h1 class="display-2">About Me</h1>
    <br />
    <div class="biograph-container">
        <h4>Biography</h4>
        <p style="color: white; text-indent: 10px;">
            I'm Jesus Diaz, a graduate of North Dallas High School and undergraduate
            of Brookhaven College. I have an Associate's Degree in Computer Information 
            Technology and Software Engineer/Developer. After recieving my associate's 
            degree, I transferred to the University of Texas at Arlington (UTA), but 
            decided to move out to another program, which would be the The Programming
            Coach course. I have learn about ASP.Net, CRUD, APIs
        </p>
    </div>
    <div class="skills-container" style="color: white;">
        <h4>Skills</h4>
        <ul class="list-inline">
            <li>HTML/HTML5</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>.NET 7</li>
            <li>ASP.NET MVC</li>
            <li>Razor Pages</li>
            <li>C#</li>
        </ul>
        <ul class="list-inline" style="margin-left: 4.5rem;">
            <li>Unit Testing</li>
            <li>.Net Framework</li>
            <li>Web APIs</li>
            <li>Bootstrap</li>
            <li>Git/Github</li>
            <li>SQL</li>
            <li>ADO.NET</li>
        </ul>
    </div>
    <div class="social-container">
        <h4>Socials</h4>
        <br />
        <a class="btn btn-outline-success" style="color: white;" href="https://github.com/Go1dOnyx">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8" />
            </svg> Github
        </a>
        <a href="https://www.linkedin.com/in/jesus-diaz-1258b3214/" class="fa fa-linkedin"></a>
        <h4 style="margin-top: 2rem;">Resume</h4>
        <br />
        <a class="btn btn-outline-success" href="~/resume/Jesus Diaz - Resume.pdf" download>DOWNLOAD</a>
    </div>
</div>
<div class="back-btn-container">
    <button class="btn btn-danger" onclick="BackToMain()">BACK</button>
</div>
